<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    <h1 class="h2">Liste des sites</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="dashboard" type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
        <a href="newSite" type="button" class="btn btn-sm btn-outline-secondary">Nouveau site</a>
      </div>
    </div>
  </div>
  <input class="form-control form-control-dark w-100" [(ngModel)]="searchValue" type="text" placeholder="Recherche"
    aria-label="Recherche">
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Ville</th>
          <th>Pays</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of sites | siteFilter:searchValue">
          <td>{{site.nom}}</td>
          <td>{{site.adresse}}</td>
          <td>{{site.ville}}</td>
          <td>{{site.paye}}</td>
          <td>
            <button (click)="detailSite(site.id)" class="btn btn-warning btn-sm">Detail</button>
            <button (click)="updateSite(site.id)" class="btn btn-success btn-sm">Modifier</button>
            <button (click)="deleteSite(site.id)" class="btn btn-danger btn-sm">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>