<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Detail de la machine DE-100</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="dashboard" type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
            </div>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Transactions</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
                <h2 class="text-danger featurette-heading">Erreurs</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <img src="../../assets/brand/de-100-600x600.png " width="500px" height="500px">
                    <div class="d-flex justify-content-between align-items-center">
                        DE-100
                        <small class="text-success">Actif</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>