<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Modification de l'employé {{user.nom}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a [routerLink]="['/dashboardSite']" routerLinkActive="router-link-active"  type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
                <a [routerLink]="['/listUser']" routerLinkActive="router-link-active"  type="button" class="btn btn-sm btn-outline-secondary">Liste des employés</a>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="name">Nom</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" required [(ngModel)]="user.nom" name="name"
          placeholder="Entrer le nom">
      </div>
    </div>
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="prenom">Prenom </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="prenom" required [(ngModel)]="user.prenom" name="prenom"
          aria-describedby="emailHelp" placeholder="Entrer le prenom">
      </div>
    </div>
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="login">Login</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="login" required [(ngModel)]="user.login" name="login"
          placeholder="Entrer le login">
      </div>
    </div>
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="type">Type</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="type" required [(ngModel)]="user.type" name="type"
          placeholder="Entrer le type">
      </div>
    </div>
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="password">Mot de passe</label>
      </div>
      <div class="col-8">
        <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password"
          placeholder="Entrer le mot de passe">
      </div>
    </div>
    
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for=""></label>
      </div>
      <div class="col-8">
        <button type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </div>
  </form>
</main>