<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Nouveau sac</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="dashboard" type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
        <a href="listSac" type="button" class="btn btn-sm btn-outline-secondary">Liste des sacs</a>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="num">Numero</label>
      <input type="text" class="form-control" id="num" required [(ngModel)]="sac.num" name="num"  placeholder="Entrer le numero" > 
    </div>
    <div class="form-group">
      <label for="capacite">Capacité </label>
      <input type="number" class="form-control" id="capacite" required [(ngModel)]="sac.capacite" name="capacite" placeholder="Entrer la designation" >
    </div>
   
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</main>