<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Detail de la piece {{ piece.designation }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="dashboard" type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
                <a href="listpiece" type="button" class="btn btn-sm btn-outline-secondary">Liste des pieces</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center " style="height:80vh">
        <div class="col-md-3 order-md-1">
            <div class="card mb-3 shadow-sm">
                <div class="card-body" *ngIf="piece">
                    <div class="form-group">
                        <label for="name"><b>Numero : </b></label>
                        {{ piece.num }}
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Designation : </b></label>
                        {{ piece.designation }}
                    </div>
                    <div class="form-group">
                        <label for="adresse"><b>Date d'arrivée : </b></label>
                        {{ piece.date_arrivee | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="form-group">
                        <label for="adresse"><b>Machine : </b></label>
                        {{ machine.designation }} <b>N°</b> {{ machine.num}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>