<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Detail de la reparation n° {{ reparation.num }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="dashboard" type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
                <a href="listReparation" type="button" class="btn btn-sm btn-outline-secondary">Liste des reparations</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center " style="height:80vh">
        <div class="col-md-3 order-md-1">
            <div class="card mb-3 shadow-sm">
                <div class="card-body" *ngIf="reparation">
                    <div class="form-group">
                        <label for="name"><b>Numero : </b></label>
                        {{ reparation.num }}
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Motif : </b></label>
                        {{ reparation.motif }}
                    </div>
                    <div class="form-group">
                        <label for="adresse"><b>Date de reparation : </b></label>
                        {{ reparation.date_reparation | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>