<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">MBS</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="text-white bg-dark" (click)="deconnexion()">Deconnexion</button>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " href="dashboard">
              <span class="material-icons">dashboard</span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listMachine">
              <span data-feather="shopping-cart"></span>
              <span class="material-icons">
                print
              </span>
              Machines
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listpiece">
              <span data-feather="users"></span>
              <span class="material-icons">
                settings
              </span>
              Pièces de rechange
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listSac">
              <span data-feather="users"></span>
              <span class="material-icons">
                local_mall
              </span>
              Sacs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listReparation">
              <span data-feather="users"></span>
              <span class="material-icons">
                handyman
              </span>
              Reparations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listSite">
              <span data-feather="users"></span>
              <span class="material-icons">
                maps_home_work
              </span>
              Sites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listClient">
              <span data-feather="bar-chart-2"></span>
              <span class="material-icons">
                people
              </span>
              Clients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listUser">
              <span data-feather="layers"></span>
              <span class="material-icons">
                person
              </span>
              Employés
            </a>
          </li>
        </ul>
        <div class="fixed-bottom">
          <img src="../../assets/brand/NV-LOGO-MBS11-2.png " width="200px" height="100px">
        </div>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>