<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    <h1 class="h2">Liste des repartions</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a [routerLink]="['/dashboardSite']" routerLinkActive="router-link-active"  type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
        <a [routerLink]="['/newReparation']" routerLinkActive="router-link-active"  type="button" class="btn btn-sm btn-outline-secondary">Nouvelle reparation</a>
      </div>
    </div>
  </div>
  <input class="form-control form-control-dark w-100" [(ngModel)]="searchValue" type="text" placeholder="Recherche"
    aria-label="Recherche">
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Motif</th>
          <th>Date de reparation</th>
          <th>Machine</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reparation of reparations | reparationFilter:searchValue">
          <td>{{reparation.motif}}</td>
          <td>{{reparation.date_reparation | date:'dd/MM/yyyy'}}</td>
          <td>{{reparation.machine}}</td>
          <td>
            <button (click)="detailReparation(reparation.id)" class="btn btn-warning btn-sm">Detail</button>
            <button (click)="updateReparation(reparation.id)" class="btn btn-success btn-sm">Modifier</button>
            <button (click)="deleteReparation(reparation.id)" class="btn btn-danger btn-sm">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>