<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Modification de la reparation n°{{reparation.id}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a [routerLink]="['/dashboardSite']" routerLinkActive="router-link-active" type="button"
          class="btn btn-sm btn-outline-secondary">Accueil</a>
        <a [routerLink]="['/listReparation']" routerLinkActive="router-link-active" type="button"
          class="btn btn-sm btn-outline-secondary">Liste des reparations</a>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="motif">Motif </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="motif" required [(ngModel)]="reparation.motif" name="motif"
          aria-describedby="emailHelp" placeholder="Entrer le motif">
      </div>
    </div>
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for="date">Date de reparation</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="date" required [(ngModel)]="reparation.date_reparation" name="date"
          placeholder="Entrer la date">
      </div>
    </div>
    
    <div class="form-group row align-items-center">
      <div class="col-2 text-right ">
        <label for=""></label>
      </div>
      <div class="col-8">
        <button type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </div>
  </form>
</main>