<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Nouveau Client</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="dashboard" type="button" class="btn btn-sm btn-outline-secondary">Accueil</a>
        <a href="listClient" type="button" class="btn btn-sm btn-outline-secondary">Liste des clients</a>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name"  placeholder="Entrer le nom" > 
    </div>
    <div class="form-group">
      <label for="email">Email </label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="client.email" name="email"  aria-describedby="emailHelp" placeholder="Entrer l'email" >
    </div>
    <div class="form-group">
      <label for="telephone">Telephone</label>
      <input type="number" class="form-control" id="telephone" required [(ngModel)]="client.tel" name="telephone"  placeholder="Entrer le numero" >
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" id="adresse" required [(ngModel)]="client.adresse" name="adresse"  placeholder="Entrer l'adresse" >
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</main>