<app-menu></app-menu>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="album py-4 ">
    <ng-template #transaction let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Liste des Transactions</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>N° transaction</th>
                <th>Responsable</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.employe}}</td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.montant}}</td>
                <td>{{transaction.date_transaction | date: 'dd/MM/yyyy H:m'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="detailTransaction(machineid)">Voir plus</button>
      </div>
    </ng-template>
    <!--......................................erreur.............................................-->
    <ng-template #erreur let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Liste des Erreurs</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Type erreur</th>
                <th>Message erreur</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let erreur of erreurs">
                <td>{{erreur.type}}</td>
                <td>{{erreur.message}}</td>
                <td>{{erreur.date_erreur| date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="detailErreur(machineid)">Voir plus</button>
      </div>
    </ng-template>
    <div class="row row-cols-4 row-cols-sm-2 row-cols-md-4 g-3">
      <div class="col" *ngFor="let machine of machines">
        <div class="card shadow-sm">
          <img src="../../assets/brand/de-100-600x600.png" width="100px" height="100px">
          <div class="card-body">
            Machine Nᵒ {{machine.num}}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" (click)="open(transaction,machine.id)"
                  class="btn btn-sm btn-outline-primary">Transactions</button>
                <button type="button" (click)="openErreur(erreur,machine.id)"
                  class=" btn btn-sm btn-outline-danger">Erreurs</button>
              </div>
              <small class="text-muted">
                <div *ngIf="machine.status === 'ON'"><img src="../../assets/brand/green.png" width="15px" height="15px">
                </div>
              </small>
              <small class="text-muted">
                <div *ngIf="machine.status === 'Off'"><img src="../../assets/brand/cercle-rouge-fond-transparent.png"
                    width="15px" height="15px"></div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row row-cols-4 row-cols-sm-6 row-cols-md-8 g-3">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Filtre</mat-label>
          <mat-select [(ngModel)]="valeurfiltre">
            <mat-option *ngFor="let f of filtre" [value]="f.value">
              {{f.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col" *ngIf="valeurfiltre==='mois'">
        <mat-form-field appearance="fill" >
          <mat-label>Mois</mat-label>
          <mat-select [(ngModel)]="valeurMois">
            <mat-option *ngFor="let m of mois" [value]="m.value">
              {{m.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col" *ngIf="valeurfiltre==='annee'">
        <mat-form-field appearance="fill">
          <mat-label>Année</mat-label>
          <mat-select [(ngModel)]="valeurAnnee">
            <mat-option *ngFor="let a of annee" [value]="a.value">
              {{a.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" (click)="getVal()" class="btn btn-primary btn-sm">Voir Statistiques</button>
    <div class="row row-cols-4 row-cols-sm-2 row-cols-md-4 g-3">
      <div class="col">
        <h3>Somme Transactions </h3>
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
      <div class="col">
        <h3>Nombre Transactions</h3>
        <ngx-charts-pie-chart [view]="view2" [scheme]="colorScheme" [results]="single2" [gradient]="gradient"
          [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</main>