
<div class="container">
    <div class="row justify-content-center align-items-center text-center" style="height:100vh">
        <form class="form-signin">
            <img class="mb-4" src="../../../assets/brand/NV-LOGO-MBS11-2.png" alt="" width="200" height="100">
            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous!</h1>
            <label for="inputEmail" class="sr-only">Login</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="login" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="connexion()">Connexion</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </form>
    </div>
</div>